{% extends g.theme.master %}

{% block title %}{{c.project.name}} / {{c.app.config.options.mount_label}} / Recent BookMKs{% endblock %}

{% block header %}Recent BookMKs{% endblock %}

{% block content %}
{% for bookmk in bookmks %}
  <div style="background: #eeeee0; margin-bottom: 15px;">
    <div style="padding: 5px 15px; background: #d8d8bf">
      <span style="float: right;">{{h.ago(bookmk.mod_date)}}</span>
      <a href="{{bookmk.url()}}" style="font-weight: bold;">{{bookmk.title}}</a> <b>-</b> <a href="{{bookmk.link}}">Go to link</a>
    </div>
    <pre>Description: {{bookmk.snippet()}}</pre>
  </div>
{% endfor %}
{% endblock %}

