{% extends g.theme.master %}

{% block title %}{{c.project.name}} / {{c.app.config.options.mount_label}}{% endblock %}

{% block header %}{{c.app.config.options.mount_label}}{% endblock %}

{% block content %}

{% if errors %}
<div style="background-color: #FFCCCC; border: 1px solid red; padding: 5px; margin: 15px;">
<h3>Errors</h3>
<ul>
{% for error in errors %}
<li>{{error}}</li>
{% endfor %}
</ul>
</div>
{% endif %}

{{c.bookmk_form.display()}}

{% endblock %}
