{% do g.register_app_css('css/pygments.css') %}

{% extends g.theme.master %}

{% block title %}{{c.project.name}} / {{c.app.config.options.mount_label}}{% endblock %}

{% block header %}{{c.app.config.options.mount_label}}{% endblock %}

{% block extra_css %}
<style>
  .codewrap {overflow: auto;}
  .highlighttable {margin: 0 !important;}
  .highlighttable thead tr th,
  .highlighttable tr td {padding: 0;}
  .highlighttable .linenodiv pre {font-size: 100%;}
  .highlight pre {word-wrap: initial !important;}
  .linenodiv pre {padding: 15px 5px; color: #fff; background: #555;}
  .linenos {color: #fff; background: #555;}
</style>
{% endblock %}

{% block content %}
<div class="codewrap">{{bookmk | safe}}</div>
{% endblock %}

