<form action="create" method="post">
<input type="hidden" name="submitted" value="yes"/>
<div class="grid-20">
	<div style="float:left;">
        <label>Title</label>
        {{widget.display_field_by_name('title')}}
    </div>
    <div style="float:right; margin-right:20px">
        <label>Link</label>
        {{widget.display_field_by_name('link')}}
    </div>
    <div style="clear: both; margin-bottom: 10px;"></div>
    Description:<br/>
    {{widget.display_field_by_name('bookmk')}}
    <input type="submit" value="Save" />
</div>
</form>
